#Footer {
  .container {
    margin: auto;
    background-color: #90d4c5;
    padding: 40px 0px;
    .Title {
      text-align: center;
      margin-bottom: 30px;
    }
    .Links,
    .Socials {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-bottom: 40px;
        li {
          a {
            font-size: 18px;
            color: var(--color_dark_moderate_cyan);
          }
        }
      }
    }
  }
}
